<div class="profileWrapper">
  <mat-card class="profileCard" *ngIf="showMode">
    <mat-card-title style="border-bottom: 1px solid black"
      >{{ currentUser.name }}
    </mat-card-title>
    <mat-card-content>
      <ul class="profileContent">
        <li>USERNAME : {{ currentUser.userName }}</li>
        <li>
          PASSWORD : {{ hiddenPassword
          }}<button
            mat-flat-button
            style="background-color: lightgray; margin-left: 1rem"
            (click)="showPassword()"
          >
            show
          </button>
        </li>
        <li>ROLE : {{ currentUser.userRole }}</li>
        <li>
          OWNED TICKETS : {{ currentUser.ownedTickets.length }}
          <button
            mat-flat-button
            style="background-color: lightgray; margin-left: 1rem"
            (click)="toTickets()"
          >
            See All
          </button>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="profileCard" *ngIf="!showMode">
    <mat-card-title>{{ currentUser.name }} </mat-card-title>
    <mat-card-content>
      <form
        #changeDetailsForm="ngForm"
        (onSubmit)="changeDetails(changeDetailsForm)"
      ></form>
    </mat-card-content>
  </mat-card>
</div>
