.wrapper {
  display: grid;
  place-items: center;
  height: 50%;
}
.ticketableWrapper {
  height: 50%;
  width: 60%;
}

.rowStyle {
  cursor: pointer;
}

.rowStyle:hover {
  background-color: whitesmoke;
}

.toMatchBtn {
  cursor: pointer;
}
