.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  user-select: none;
}

.brand img {
  height: 70px;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
